<div class="frontpage-about">
    <h1 class="page-heading">Welcome</h1>
    <div class="fa-wrap">
        <div><a href="https://github.com/mangobrain"><img src="/assets/github.png" width="32px" height="32px">Code I've written</a></div>
        <div><a href="https://www.instagram.com/mangobrain"><img src="/assets/instagram.png" width="32px" height="32px">Food I've eaten (some of which I made)</a></div>
        <div><a href="https://soundcloud.com/philip-allison-541151096"><img src="/assets/soundcloud.png" width="42px" height="22px">Noises I've made</a></div>
    </div>
</div>
